@model LibraryASP.Models.Library

@{
    ViewBag.Title = "Option";
}

<title>Oops.</title>

<p>Cannot create two books with the same ISBN, you can @Html.ActionLink("search by ISBN", "Search")
    or @Html.ActionLink("return to Home", "Index").</p>

